.adminlogin-main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    width: 400px;
    display: flex;
    margin: 20px;
}

.labels label {
    width: 100px;
    display: flex;
}

.adminlogin-main .input-box {
    height: 30px;
    width: 230px;
    color: black;
    font-weight: 900;
}

.button-submit {
    background-color: rgb(18, 172, 26);
    position: relative;
    margin-left: 120px;
    width: 100px;
    height: 40px;
}